@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&display=swap");

.title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #92400e; /* amber-800 */
}

.title-font {
  font-family: "Lobster", cursive;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
  transition: transform 0.2s;
}

/* El contenedor de la carta marcada */
.marked {
  border-radius: 0.5rem; /* Asegurar que el borde siga la forma de la imagen */
  border: 4px solid #10b981; /* emerald-500 */
  box-shadow: 0 0 15px #10b981;
}

/* La X sobre la imagen */
.marked::after {
  content: "X";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 900;
  text-shadow: 0 0 5px black;
  backdrop-filter: grayscale(30%);
  border-radius: 0.5rem;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}
